<!DOCTYPE html>
<html lang ="pl">
	<head>
		<meta charset="UTF-8">
		<title>Metody generowania przekrojow pionowych obiektow 3D</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/menuGlowne.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/helper_functions.js') }}"></script>
        <!-- <?php
			echo '<link rel="stylesheet" href="'.getConf()->app_url.'/css/menuGlowne.css">';
            echo '<link rel="stylesheet" href="'.getConf()->app_url.'/css/style.css">';
            echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/lib/helper_functions.js"></script>';
        -->

		{% if files %}
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/three.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/dat.gui.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/binaryReader.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/g3dReader.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/TrackballControls.js') }}"></script>

			<script type="text/javascript" src="{{ url_for('static', filename='js/gui.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/model.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/odcinek.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/normalnyDoWierzcholka.js') }}"></script>
		{% endif %}
		<!--
			if(isset($models)){
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/lib/three.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/lib/dat.gui.min.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/lib/binaryReader.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/lib/g3dReader.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/lib/TrackballControls.js"></script>';

				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/gui.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/main.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/model.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/odcinek.js"></script>';
				echo '<script type="text/javascript" src="'.getConf()->app_url.'/js/normalnyDoWierzcholka.js"></script>';
			}
		?> -->
	</head>

	<body>
		<div class="body">
			<div id="navbar">
				<a href="/cross_section_view" class="nav-item active">Aplikacja główna</a>';
				<a href="/edit" class="nav-item">Korektor modeli</a>';
				<!-- <?php
					$aktywnyLink = explode("=", $_SERVER['REQUEST_URI'])[1];

					echo '<a href="'.getConf()->action_url.'viewModels" class="nav-item '.($aktywnyLink=='viewModels'?"active":"").'">Aplikacja główna</a>';
					echo '<a href="'.getConf()->action_url.'edit" class="nav-item '.(($aktywnyLink=='edit'||$aktywnyLink=='save')?'active':'').'">Korektor modeli</a>';
				-->
				
				<!-- 
					if ($this->user->login != ''){
							echo '<div class="logout">';
								echo '<a href="'.getConf()->action_url.'logout" class="nav-item">Wyloguj</a>';
							echo '</div>';
					}

					if ($this->user->role == 'admin'){
						echo '<div class="logout">';
							echo '<a href="'.getConf()->action_url.'personList" class="nav-item">Użytkownicy</a>';
						echo '</div>';
					}

					if ($this->user->login == ''){
						echo '<div class="logout">';
							echo '<a href="'.getConf()->action_url.'login" class="nav-item">Zaloguj</a>';
						echo '</div>';
					}
				?> -->
			</div>

			<div id="content">
				<div id="canvas">
					<canvas id="my_canvas"></canvas>
				</div>

				<script type="text/javascript">

					var xro, yro, zro;
					var pliki = [];
					var sciezka;
					// <?php
				    //    foreach ($wanted as $m){
				    //        echo 'pliki.push("'.$m.'");';
				    //    }
					//	echo 'sciezka = "'.getConf()->uploads.'";';
				    //?>

					displayGUI();
					inicjujScene();
					animate();

				</script>
			</div>
		</div>
	</body>
</html>
