<!DOCTYPE html>
<html lang ="pl">
	<head>
		<meta charset="UTF-8">
		<title>Metody generowania przekrojow pionowych obiektow 3D</title>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans">
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/menuGlowne.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<script type="text/javascript" src="{{ url_for('static', filename='js/lib/helper_functions.js') }}"></script>

		{% if files %}
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/three.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/dat.gui.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/binaryReader.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/g3dReader.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/lib/TrackballControls.js') }}"></script>

			<script type="text/javascript" src="{{ url_for('static', filename='js/gui.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='/js/main.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/model.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/odcinek.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename='js/normalnyDoWierzcholka.js') }}"></script>
		{% endif %}
	</head>

	<body>
		<div class="body">
			<div id="navbar">
				<a href="/cross_section_view" class="nav-item active">Przekroje obiektów 3D</a>
				<a href="/model_corrector_view" class="nav-item">Korektor modeli</a>
			</div>

			<div id="content">
				<div id="canvas">
					<canvas id="my_canvas"></canvas>
				</div>

				<script type="text/javascript">

					var xro, yro, zro;
					var pliki = [];
					var sciezka;

					{%  for file in files  %}
						pliki.push("{{ file }}");
					{%  endfor  %}
					sciezka = "{{ url_for('static', filename='_models') }}/";
					
					displayGUI(); // from gui.js
					inicjujScene(); // from main.js
					animate(); // from main.js

				</script>
			</div>
		</div>
	</body>
</html>
