<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="pl" lang="pl">

<head>
	<meta charset="utf-8"/>
	<title>Metody generowania przekrojow pionowych obiektow 3D</title>
	<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

	<body style="margin: 20px;">

		<div class="main">

			<h1>Metody generowania przekrojów pionowych obiektów 3D</h1>

			<h3>Praca inżynierska | Autor: Adrian Niewiadomski | Promotor: dr Krzysztof Wróbel</h3>

			<br>

			<p>
				W ramach rozprawy zaroponowano rozwiązanie teoretyczne oraz przedstawiono implementację algorytmów
				rozwiązujących następujące problemy występujące w grafice komputerowej:

				<ul>
					<li>
						tworzenie poprawnie wyświetlanych przekrojów pionowych obiektów 3d,
					</li>
					<br>
					<li>
						umożliwienie poprawnego wyświetlania ścian obiektu 3d poprzez poprawę kolejności wierzchołków w ścianach.
					</li>
				</ul>
			</p>

			<p>
				Aplikację napisano w językach JavaScript z wykorzystaniem biblioteki Three.js oraz Python.
			</p>

			<br><br>

			<h1>Witaj!</h1>

			<a href="/cross_section_view" class="pure-button button-success" style="width:90%;margin:0 auto;display:block;">Tworzenie przekrojów obiektów grafiki 3D</a>
			<br>
			<a href="/model_corrector_view" class="pure-button button-error" style="width:90%;margin:0 auto;display:block;">Korekta modeli 3D</a>		
			<br>
		</div>

	</body>
</html>
